# Common ignored files and directories
.idea/
.git/
.DS_Store
# Rider ignored files
.idea/.DS_Store
.idea/.gitignore
.idea/inspectionProfiles/
.idea/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
httpRequests/
# Datasource local storage ignored files
dataSources/
dataSources.local.xml
# Operating system temporary files
thumbs.db
.Trashes
# User-specific files
*.sublime-workspace
